.list-container {
    background-color: #F4F7FC;

    .table-container {
        background-color: #fff;
        padding: 15px;
        border-radius: 10px;

        table {
            width: 100%;
            border-radius: 5px;
    
            th {
                padding: 10px;
                background-color: #F5F6FA;
                color: #686868;
                font-size: 12px;
            }
            td {
                height: 50px;
                font-size: 13px;
            }
            select {
                height: 50px;
                border: none;
                font-size: 13px;
                outline: none;
            }
        }
    }
}
